<footer class="footer">
    <div class="jeito_carrefour container d-flex display-none-1025px">
        <div class="card_jeito_carrefour d-flex">
            <a href="#"><img src="./../css/assets/icons/icon-mercado-online.svg" alt=""></a>
            <div class="text_jeito_carrefour">
                <span><strong> Mercado Online</strong></span>
                <p>Faça compras de mercado online <a href="#">aqui.</a></p>
            </div>
        </div>
        <div class="card_jeito_carrefour d-flex">
            <a href="#"><img src="./../css/assets/icons/icon-cartao-carrefour.svg" alt=""></a>
            <div class="text_jeito_carrefour">
                <span><strong> Cartão Carrefour</strong></span>
                <p>Use o cartão Carrefour e fique livre da anuidade. <a href="#">Veja mais.</a></p>
            </div>
        </div>
        <div class="card_jeito_carrefour d-flex">
            <a href="#"><img src="./../css/assets/icons/icon-retire-de-carro.svg" alt=""></a>
            <div class="text_jeito_carrefour">
                <span><strong> Retire de carro</strong></span>
                <p>Compre pelo site e retire em uma loja sem sair do carro. <a href="#">Veja mais.</a></p>
            </div>
        </div>
        <div class="card_jeito_carrefour d-flex">
            <a href="#"><img src="./../css/assets/icons/icon-retire-na-loja.svg" alt=""></a>
            <div class="text_jeito_carrefour">
                <span><strong> Retire na loja</strong></span>
                <p>Para que esperar? Compre no site e retire na loja. <a href="#">Veja mais.</a></p>
            </div>
        </div>
        <div class="card_jeito_carrefour d-flex">
            <a href="#"><img src="./../css/assets/icons/icon-receba-em-casa.svg" alt=""></a>
            <div class="text_jeito_carrefour">
                <span><strong> Receba em casa</strong></span>
                <p>Compre pelo site e receba no conforto de sua casa. <a href="#">Veja mais.</a></p>
            </div>
        </div>
    </div>
    <div class="como_posso_te_ajudar w-100">
        <a href="#"><img class="img-fluid" src="./../css/assets/img/img-como-posso-te-ajudar.webp" alt=""></a>
    </div>
    <div class="help container d-flex display-none-1025px">
        <div class="opcoes d-flex flex-column">
            <h3>Atendimento</h3>
            <div class="link_opcoes d-flex flex-column">
                <a href="#">Minha conta</a>
                <a href="#">Meus pedidos</a>
                <a href="#">Encontre uma loja</a>
                <a href="#">central de Atendimento</a>
                <a href="#">Cartão Carrefour</a>
                <a href="#">Perguntas frequentes</a>
                <a href="#">Denunciar Produtos Martketplace</a>
                <a href="#">Consumidor.gov</a>
            </div>
        </div>
        <div class="opcoes d-flex flex-column">
            <h3>Serviços</h3>
            <div class="link_opcoes d-flex flex-column">
                <a href="#">Minhas listas</a>
                <a href="#">Garantia Estendida</a>
                <a href="#">Marketplace</a>
                <a href="#">Apoio ao seller</a>
                <a href="#">Institucional</a>
                <a href="#">Perguntas frequentes</a>
            </div>
        </div>
        <div class="opcoes d-flex flex-column">
            <h3>Institucional</h3>
            <div class="link_opcoes d-flex flex-column">
                <a href="#">Grupo Carrefour</a>
                <a href="#">CyberCook</a>
                <a href="#">Blog Dica Amiga</a>
                <a href="#">Mapa de Produtos</a>
                <a href="#">Mapa do Site</a>
                <a href="#">Sabor e qualidade</a>
                <a href="#">Black Friday</a>
                <a href="#">Afroempreededores</a>
            </div>
        </div>
        <div class="opcoes d-flex flex-column">
            <h3>Políticas Carrefour</h3>
            <div class="link_opcoes d-flex flex-column">
                <a href="#">Política de entregas</a>
                <a href="#">Política de Trocas e Devoluções</a>
                <a href="#">Política de Cancelamento e Ressarcimento</a>
                <a href="#">Políticas Click & Retire Não Alimentar</a>
                <a href="#">Política de Produtos Proibidos E-Commerce Carrefour</a>
                <a href="#">Política de instalação de pneus</a>
                <a href="#">Termos de Uso</a>
                <a href="#">Central de Privacidade</a>
                <a href="#">Política de Privacidade</a>
                <a href="#">Política de Uso e de Repressão e Prevenção à Venda de Produtos Ilegais</a>
            </div>
        </div>
        <div class="opcoes d-flex flex-column">
            <h3>Compre pelo telefone</h3>
            <div class="para_contato link_opcoes">
                <p>Para regiões metropolitanas:</p>
                <button type="button" class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center"><img src="./../css/assets/icons/icon-telefone.png" alt=""> 3004-2222</button>
            </div>
            <div class="para_contato link_opcoes">
                <p>Para demais regiões:</p>
                <button type="button" class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center"><img src="./../css/assets/icons/icon-telefone.png" alt=""> 0800-718-2222</button>
            </div>
            <div class="para_contato link_opcoes">
                <p>Para demais regiões:</p>
                <p><strong>De segunda a domingo, das 08h às 21h</strong></p>
                <p>Horário de Brasília</p>
            </div>
        </div>
    </div>
    <!--FOOTER MOBILE-->
    <%- include('./footer-mobile.html'); %>
    <!--FOOTER MOBILE-->
    <div class="direitos w-100 d-flex justify-content-center">
        Todos Direitos Reservado por @Ilgner Silva
    </div>
</footer>