<!--Menu Mobile-->
<div class="offcanvas-body footer-mobile-categorias d-none">
    <div class="accordion-item menu-categorias-dropdown">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Atendimento</button>

        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#collapseOne">
            <div class="accordion-body d-flex flex-column categorias-dropdown">
                <a href="#">Minha conta</a>
                <a href="#">Meus pedidos</a>
                <a href="#">Encontre uma loja</a>
                <a href="#">central de Atendimento</a>
                <a href="#">Cartão Carrefour</a>
                <a href="#">Perguntas frequentes</a>
                <a href="#">Denunciar Produtos Martketplace</a>
                <a href="#">Consumidor.gov</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Serviços</button>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#collapseTwo">
            <div class="accordion-body d-flex flex-column categorias-dropdown">
                <a href="#">Minhas listas</a>
                <a href="#">Garantia Estendida</a>
                <a href="#">Marketplace</a>
                <a href="#">Apoio ao seller</a>
                <a href="#">Institucional</a>
                <a href="#">Perguntas frequentes</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Institucional</button>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#collapseThree">
            <div class="accordion-body d-flex flex-column categorias-dropdown">
                <a href="#">Grupo Carrefour</a>
                <a href="#">CyberCook</a>
                <a href="#">Blog Dica Amiga</a>
                <a href="#">Mapa de Produtos</a>
                <a href="#">Mapa do Site</a>
                <a href="#">Sabor e qualidade</a>
                <a href="#">Black Friday</a>
                <a href="#">Afroempreededores</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Políticas Carrefour</button>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#collapseThree">
            <div class="accordion-body d-flex flex-column categorias-dropdown">
                <a href="#">Política de entregas</a>
                <a href="#">Política de Trocas e Devoluções</a>
                <a href="#">Política de Cancelamento e Ressarcimento</a>
                <a href="#">Políticas Click & Retire Não Alimentar</a>
                <a href="#">Política de Produtos Proibidos E-Commerce Carrefour</a>
                <a href="#">Política de instalação de pneus</a>
                <a href="#">Termos de Uso</a>
                <a href="#">Central de Privacidade</a>
                <a href="#">Política de Privacidade</a>
                <a href="#">Política de Uso e de Repressão e Prevenção à Venda de Produtos Ilegais</a>
            </div>
        </div>
    </div>
</div>
<!--Menu Mobile-->