<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../css/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="./../css/bootstrap/css/bootstrap-reboot.css">
    <script src="./../css/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="./../css/header.css">
    <link rel="stylesheet" href="./../css/main.css">
    <link rel="stylesheet" href="./../css/carrosel.css">
    <script defer src="../../../public/js/headerBannerImg.js"></script>
    <title>Carrefour</title>
</head>