<header class="header">
    <div class="d-flex justify-content-center">
        <a href="#">
            <img class="header-banner-img img-fluid" src="./../css/assets/img/img-frete-gratis.png" alt="">
        </a>
    </div>
    <div class="store-header">
        <div class="container-xl d-flex justify-content-between">
            <nav class="servicos d-flex justify-content-center">
                <a class="link-shopping" href="#"><img src="./../css/assets/icons/icon-shopping.png"
                        alt="link para a página de shopping"> shopping</a>
                <a class="link-mercado" href="#"><img src="./../css/assets/icons/icon-mercado.png"
                        alt="link para a página de shopping"> Mercado</a>
                <a class="link-servicos" href="#"><img src="./../css/assets/icons/icon-servico.png"
                        alt="link para a página de shopping"> Serviços</a>
            </nav>
            <nav class="mais-servicos d-flex align-items-center">
                <a class="links-mais-servicos display-none-640px" href="#">Televendas</a>
                <a class="links-mais-servicos display-none-640px" href="#">Nossas lojas</a>
                <a class="links-mais-servicos display-none-640px" href="#">Atendimento</a>
                <a class="links-mais-servicos display-none-1025px" href="#">Click e Retire</a>
                <a class="links-mais-servicos display-none-1025px" href="#">Baixe o app</a>
            </nav>
        </div>
    </div>
    <div class="store-header-para-usuario container-xl d-flex align-items-center justify-content-between">
        <!--MENU MOBILE-->
        <%- include('./menu-mobile.html'); %>
        <!--MENU MOBILE-->
        </div>
        <div class="link-logo-carrefour">
            <a href="/"><img src="./../css/assets/img/logo-carrefour-site.png"
                    alt="imagem da logo do carrefour"></a>
        </div>
        <form method="get" action="/"class="input-group mb-3 input-busca display-none-640px">
            <input name="busca" type="text" class="form-control input-busca-produtos" placeholder="Pesquise por produtos ou marcas"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <button type="menu" class="btn btn-outline-secondary botao-busca" type="button" id="button-addon2"><img
                    src="./../css/assets/icons/incon-lupa-pesquisa.png" alt=""></button>
            </form>
        <div class="para-usuario d-flex align-items-center justify-content-between">
            <div class="login para-usuario-opcoes display-none-640px">
                <a class="d-flex align-items-center" href="/auth/login_cadastro">
                    <img class="icon-login-user" src="./../css/assets/icons/icon-user.png" alt="Icone login">
                    <div class="link-login link-para-usuario display-none-1200px">
                        <strong class="">Bem-vindo</strong>
                        <br>
                        <% if (resposta == undefined) { %>
                            Entre
                            <%} else { %>
                            <%- resposta %>
                            <% } %>
                    </div>
                </a>
            </div>
            <div class="meu-carrefour para-usuario-opcoes">
                <a class="d-flex align-items-center" href="#">
                    <img class="icon-login-user" src="./../css/assets/icons/icon-moeda.png" alt="Icone moeda">
                    <div class="link-meu-carrefour link-para-usuario display-none-1200px">
                        Meu
                        <br>
                        Carrefour
                    </div>
                </a>
            </div>
            <div class="meu-pedidos para-usuario-opcoes display-none-1025px">
                <a class="d-flex align-items-center" href="#">
                    <img class="icon-login-user" src="./../css/assets/icons/icon-meus-pedidos.png"
                        alt="Icone caixa">
                    <div class="link-meus-pedidos link-para-usuario display-none-1200px">
                        Meus
                        <br>
                        Pedidos
                    </div>
                </a>
            </div>
            <div class="minhas-listas para-usuario-opcoes">
                <a class="d-flex align-items-center" href="#">
                    <img class="icon-login-user" src="./../css/assets/icons/icon-coracao.png"
                        alt="Icone coracao minhas listas">
                    <div class="link-minhas-listas link-para-usuario display-none-1200px">
                        Minhas
                        <br>
                        Listas
                    </div>
                </a>
            </div>
            <div class="meu-carrinho para-usuario-opcoes">
                <a class="d-flex align-items-center" href="#">
                    <img class="icon-login-user" src="./../css/assets/icons/icon-carrinho.png"
                        alt="Icone de um carrinho de produtos">
                </a>
            </div>
        </div>
    </div>
    <!---->
    <form method="get" action="/" class="input-group mb-3 container-xl d-none display-flex-640px">
        <input type="text" name="busca" class="form-control input-busca-produtos" placeholder="Pesquise por produtos ou marcas"
            aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary botao-busca" type="menu" id="button-addon2"><img
                src="./../css/assets/icons/incon-lupa-pesquisa.png" alt=""></button>
    </form>
    <!---->
    <nav class="navbar navbar-expand-lg navbar-light nav-produtos">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="container-xl navbar-nav lista-categorias d-flex justify-content-between">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle color-white" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>Todos os Departamentos</strong>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item d-flex justify-content-between li-categorias" href="#">Celulares
                                    e Smartphones<img src="./../css/assets/icons/icon-proximo.png" alt=""></a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between"
                                    href="#">Eletrodomésticos <img src="./../css/assets/icons/icon-proximo.png"
                                        alt=""></a>
                            </li>

                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Tvs e
                                    Vídeo <img src="./../css/assets/icons/icon-proximo.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between"
                                    href="#">informática <img src="./../css/assets/icons/icon-proximo.png"
                                        alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Pneus
                                    <img src="./../css/assets/icon-proximo.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between"
                                    href="#">Eletroportáveis <img src="./../css/assets/assets/icons/icon-proximo.png"
                                        alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Esporte e
                                    Lazer <img src="./../css/assets/icons/icon-proximo.png" alt=""></a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Cama,
                                    Mesa e Banho <img src="./../css/assets/icons/icon-proximo.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Áudio
                                    <img src="./../css/assets/icons/icon-proximo.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Ar
                                    Condicionado e Ventilação <img src="./../css/assets/icons/icon-proximo.png"
                                        alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Todos os
                                    Departamentos <img src="./../css/assets/icons/icon-proximo.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link color-white " aria-current="page" href="/categoria/celulares-e-smartphone">Smartphones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="/categoria/domesticos">Eletrodomésticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="/categoria/tvs-e-videos">Tvs e Vídeo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="/categoria/informatica">Informática</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="/categoria/pneus">Pneus e Auto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="/categoria/eletroportaveis">Eletroportáveis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="/categoria/esporte-e-lazer">Esporte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="/categoria/camamesa-e-banho">Cama</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="/categoria/ar-condicionado-e-ventilacao">Climatização</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="#"><img src="" alt=""> <strong>cartão
                                Carrefour</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="localizacao">
        <div class="container-xl">
            <img src="./../css/assets/icons/icon-localizacao.png" alt="">
            <span><strong>Ofertas para: </strong>São Paulo-SP</span>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="./../css/assets/icons/icon-seta-baixo.png" alt="">
            </button>
        </div>
        <!--Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                        <!--Bem aqui-->
                    </div>
                </div>
            </div>
        </div>
        <!--Fim Modal-->
    </div>
</header>