<header class="header">
    <div class="d-flex justify-content-center">
        <a href="#">
            <img class="header-banner-img img-fluid" src="../../../public/assets/img/img-frete-gratis.png" alt="">
        </a>
    </div>
    <div class="store-header">
        <div class="container-xl d-flex justify-content-between">
            <nav class="servicos d-flex justify-content-center">
                <a class="link-shopping" href="#"><img src="../../../public/assets/icons/icon-shopping.png"
                        alt="link para a página de shopping"> shopping</a>
                <a class="link-mercado" href="#"><img src="../../../public/assets/icons/icon-mercado.png"
                        alt="link para a página de shopping"> Mercado</a>
                <a class="link-servicos" href="#"><img src="../../../public/assets/icons/icon-servico.png"
                        alt="link para a página de shopping"> Serviços</a>
            </nav>
            <nav class="mais-servicos d-flex align-items-center">
                <a class="links-mais-servicos display-none-640px" href="#">Televendas</a>
                <a class="links-mais-servicos display-none-640px" href="#">Nossas lojas</a>
                <a class="links-mais-servicos display-none-640px" href="#">Atendimento</a>
                <a class="links-mais-servicos display-none-1025px" href="#">Click e Retire</a>
                <a class="links-mais-servicos display-none-1025px" href="#">Baixe o app</a>
            </nav>
        </div>
    </div>
    <div class="store-header-para-usuario container-xl d-flex align-items-center justify-content-between">
        <!--Menu Mobile-->
        <div class="menu-lateral d-none">
            <button class="btn btn-primary btn-menu-mobile" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><img
                    src="../../../public/assets/icons/icon-menu.png" alt=""></button>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
                aria-labelledby="offcanvasWithBackdropLabel">
                <div class="offcanvas-header menu-lateral-login">
                    <div class="login para-usuario-opcoes">
                        <a class="d-flex align-items-center" href="#">
                            <img class="icon-login-user" src="../../../public/assets/icons/icon-user-menu-lateral.png"
                                alt="Icone login">
                            <div class="link-login link-para-usuario">
                                <strong class="">Bem-vindo</strong>
                                <br>
                                Entre
                            </div>
                        </a>
                    </div>
                    <button type="button" class="text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><img
                            src="../../../public/assets/icons/icon-botao-fechar.png" alt=""></button>
                </div>

                <div class="offcanvas-body menu-mobile-categorias">
                    <div class="accordion-item menu-categorias-dropdown">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Celulares e
                            Smartphones</button>

                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#collapseOne">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Ver tudo de Celulares e Smartphones</a>
                                <a href="#">Smartphones</a>
                                <a href="#">Celulares</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Domésticos</button>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#collapseTwo">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Ver tudo de Eletrodomésticos</a>
                                <a href="#">Geladeira</a>
                                <a href="#">Fogão</a>
                                <a href="#">Micro-ondas</a>
                                <a href="#">Coifas e Depuradores</a>
                                <a href="#">Máquina de lavar</a>
                                <a href="#">Cooktop</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Tvs e Vídeos</button>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#collapseThree">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Ver tudo de Tvs e Vídeo</a>
                                <a href="#">Tvs</a>
                                <a href="#">Blu-Ray Player</a>
                                <a href="#">Home Theater</a>
                                <a href="#">Soudbar</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Informática</button>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#collapseThree">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Ver tudo de Informática</a>
                                <a href="#">Notebook</a>
                                <a href="#">Impressora</a>
                                <a href="#">Computador</a>
                                <a href="#">Tablet e Ipad</a>
                                <a href="#">Acessórios</a>
                                <a href="#">Informáica</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Pneus</button>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#collapseFour">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Ver tudo de Pneus</a>
                                <a href="#">Caminhões e Ônibus</a>
                                <a href="#">Carros</a>
                                <a href="#">Motos</a>
                                <a href="#">Tratores</a>
                                <a href="#">Vans e Utilitários</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Eletroportáveis</button>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#collapseFive">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Ver tudo de Eletroportáveis</a>
                                <a href="#">Bebedouro e Purificador de Água</a>
                                <a href="#">Robô e Aspirador de Pó</a>
                                <a href="#">Fritadeira Elétrica</a>
                                <a href="#">Máquina de Costura</a>
                                <a href="#">Cafeteira Elétrica</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Esporte e Lazer</button>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#collapseTwo">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Ver tudo de Esporte e Lazer</a>
                                <a href="#">Bicicleta</a>
                                <a href="#">Bicicleta aro 26</a>
                                <a href="#">Bicicleta aro 29</a>
                                <a href="#">Fitness</a>
                                <a href="#">lazer e Jogos</a>
                                <a href="#">Esportes</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Cama, Mesa e Banho</button>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#collapseSeven">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Ver tudo de Cama, Mesa e Banho</a>
                                <a href="#">Cama</a>
                                <a href="#">Mesa</a>
                                <a href="#">Banho</a>
                                <a href="#">Souplat</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEigth">Áudio</button>
                        <div id="collapseEigth" class="accordion-collapse collapse" aria-labelledby="headingEigth"
                            data-bs-parent="#collapseEigth">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Ver tudo de Áudio</a>
                                <a href="#">Som Ambiente</a>
                                <a href="#">Áudio Profissional</a>
                                <a href="#">Caixa de Som</a>
                                <a href="#">MP3, MP4 e MP5 Players</a>
                                <a href="#">Vitrolas e Gramofones</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Ar Condicionado e Ventilação</button>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                            data-bs-parent="#collapseNine">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Ver tudo de Ventilação</a>
                                <a href="#">Acessórios de climatização</a>
                                <a href="#">Aquecedores ambientes</a>
                                <a href="#">Ar-condicionado</a>
                                <a href="#">Climatizador</a>
                                <a href="#">Cortina de ar</a>
                                <a href="#">Ventilador</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">Veja mais departamentos</button>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                            data-bs-parent="#collapseTen">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Bebês</a>
                                <a href="#">Briquedos</a>
                                <a href="#">Casa, Construção e Ferramentas</a>
                                <a href="#">Mundo Gamer</a>
                                <a href="#">Relógios</a>
                                <a href="#">Moda e Acessórios</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--Menu Mobile-->
        </div>
        <div class="link-logo-carrefour">
            <a href="#"><img src="../../../public/assets/img/logo-carrefour-site.png"
                    alt="imagem da logo do carrefour"></a>
        </div>
        <div class="input-group mb-3 input-busca display-none-640px">
            <input type="text" class="form-control input-busca-produtos" placeholder="Pesquise por produtos ou marcas"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary botao-busca" type="button" id="button-addon2"><img
                    src="../../../public/assets/icons/incon-lupa-pesquisa.png" alt=""></button>
        </div>
        <div class="para-usuario d-flex align-items-center justify-content-between">
            <div class="login para-usuario-opcoes display-none-640px">
                <a class="d-flex align-items-center" href="#">
                    <img class="icon-login-user" src="../../../public/assets/icons/icon-user.png" alt="Icone login">
                    <div class="link-login link-para-usuario display-none-1200px">
                        <strong class="">Bem-vindo</strong>
                        <br>
                        Entre
                    </div>
                </a>
            </div>
            <div class="meu-carrefour para-usuario-opcoes">
                <a class="d-flex align-items-center" href="#">
                    <img class="icon-login-user" src="../../../public/assets/icons/icon-moeda.png" alt="Icone moeda">
                    <div class="link-meu-carrefour link-para-usuario display-none-1200px">
                        Meu
                        <br>
                        Carrefour
                    </div>
                </a>
            </div>
            <div class="meu-pedidos para-usuario-opcoes display-none-1025px">
                <a class="d-flex align-items-center" href="#">
                    <img class="icon-login-user" src="../../../public/assets/icons/icon-meus-pedidos.png"
                        alt="Icone caixa">
                    <div class="link-meus-pedidos link-para-usuario display-none-1200px">
                        Meus
                        <br>
                        Pedidos
                    </div>
                </a>
            </div>
            <div class="minhas-listas para-usuario-opcoes">
                <a class="d-flex align-items-center" href="#">
                    <img class="icon-login-user" src="../../../public/assets/icons/icon-coracao.png"
                        alt="Icone coracao minhas listas">
                    <div class="link-minhas-listas link-para-usuario display-none-1200px">
                        Minhas
                        <br>
                        Listas
                    </div>
                </a>
            </div>
            <div class="meu-carrinho para-usuario-opcoes">
                <a class="d-flex align-items-center" href="#">
                    <img class="icon-login-user" src="../../../public/assets/icons/icon-carrinho.png"
                        alt="Icone de um carrinho de produtos">
                </a>
            </div>
        </div>
    </div>
    <!---->
    <div class="input-group mb-3 container-xl d-none display-flex-640px">
        <input type="text" class="form-control input-busca-produtos" placeholder="Pesquise por produtos ou marcas"
            aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary botao-busca" type="button" id="button-addon2"><img
                src="../../../public/assets/icons/incon-lupa-pesquisa.png" alt=""></button>
    </div>
    <!---->
    <nav class="navbar navbar-expand-lg navbar-light nav-produtos">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="container-xl navbar-nav lista-categorias d-flex justify-content-between">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle color-white" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>Todos os Departamentos</strong>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item d-flex justify-content-between li-categorias" href="#">Celulares
                                    e Smartphones<img src="../../../public/assets/icons/icon-proximo.png" alt=""></a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between"
                                    href="#">Eletrodomésticos <img src="../../../public/assets/icons/icon-proximo.png"
                                        alt=""></a>
                            </li>

                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Tvs e
                                    Vídeo <img src="../../../public/assets/icons/icon-proximo.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between"
                                    href="#">informática <img src="../../../public/assets/icons/icon-proximo.png"
                                        alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Pneus
                                    <img src="../../../public/assets/icons/icon-proximo.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between"
                                    href="#">Eletroportáveis <img src="../../../public/assets/icons/icon-proximo.png"
                                        alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Esporte e
                                    Lazer <img src="../../../public/assets/icons/icon-proximo.png" alt=""></a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Cama,
                                    Mesa e Banho <img src="../../../public/assets/icons/icon-proximo.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Áudio
                                    <img src="../../../public/assets/icons/icon-proximo.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Ar
                                    Condicionado e Ventilação <img src="../../../public/assets/icons/icon-proximo.png"
                                        alt="">
                                </a>
                            </li>
                            <li>
                                <a class="li-categorias dropdown-item d-flex justify-content-between" href="#">Todos os
                                    Departamentos <img src="../../../public/assets/icons/icon-proximo.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link color-white " aria-current="page" href="#">Ofertas do dia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="#">Smartphones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="#">Pneus & Auto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="#">Climatização</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="#">Xiaomi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="#">Notebooks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="#">Eletrodomésticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="#">TVs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="#">Móveis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-white" href="#"><img src="" alt=""> <strong>cartão
                                Carrefour</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="localizacao">
        <div class="container-xl">
            <img src="../../../public/assets/icons/icon-localizacao.png" alt="">
            <span><strong>Ofertas para: </strong>São Paulo-SP</span>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="../../../public/assets/icons/icon-seta-baixo.png" alt="">
            </button>
        </div>
        <!--Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                        <!--Bem aqui-->
                    </div>
                </div>
            </div>
        </div>
        <!--Fim Modal-->
    </div>
</header>