<main class="main container-xl">
    <div class="container-xl  promocao-do-dia-estilos">
        <div class="promocao-do-dia">
            <a href="#"><img class="img-fluid img-promocao-do-dia" src="./../css/assets/img/img-promocao-do-dia.webp"
                    alt=""></a>
        </div>
        <%- include('./carrosel.html'); %>
            <div class="outras-promocoes d-flex align-items-center">
                <a href="#">
                    <img class="img-fluid" src="./../css/assets/img/outras-promocoes01.webp " alt="">
                </a>
                <a href="#">
                    <img class="img-fluid" src="./../css/assets/img/outras-promocoes02.webp" alt="">
                </a>
                <a href="#">
                    <img class="img-fluid" src="./../css/assets/img/outras-promocoes03.webp" alt="">
                </a>
                <a href="#">
                    <img class="img-fluid" src="./../css/assets/img/outras-promocoes04.webp" alt="">
                </a>
            </div>
    </div>
    <section class="section-novidades container-xl ">
        <h2 class="titulos-sessoes">Novidades que acabaram de chegar ao Carrefour!</h2>
        <%- include('./cards-produtos.html'); %>
        <%- include('./produtos-mais-vistos.html'); %>
    </section>
</main>