        <!--Menu Mobile-->
        <div class="menu-lateral d-none">
            <button class="btn btn-primary btn-menu-mobile" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><img
                    src="./../css/assets/icons/icon-menu.png" alt=""></button>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
                aria-labelledby="offcanvasWithBackdropLabel">
                <div class="offcanvas-header menu-lateral-login">
                    <div class="login para-usuario-opcoes">
                        <a class="d-flex align-items-center" href="/auth/login_cadastro">
                            <img class="icon-login-user" src="./../css/assets/icons/icon-user-menu-lateral.png"
                                alt="Icone login">
                            <div class="link-login link-para-usuario">
                                <% if (resposta == undefined) { %>
                                    <strong class="">Bem-vindo</strong>
                                    <br>
                                    Entre
                                    <%} else { %>
                                    <%- resposta %>
                                    <br>
                                    <a href="/auth/logout">Sair</a>
                                    <% } %>
                            </div>
                        </a>
                    </div>
                    <button type="button" class="text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><img
                            src="./../css/assets/icons/icon-botao-fechar.png" alt=""></button>
                </div>

                <div class="offcanvas-body menu-mobile-categorias">
                    <div class="accordion-item menu-categorias-dropdown">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Celulares e
                            Smartphones</button>

                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#collapseOne">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="/categoria/celulares-e-smartphone">Ver tudo de Celulares e Smartphones</a>
                                <a href="#">Smartphones</a>
                                <a href="#">Celulares</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Domésticos</button>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#collapseTwo">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="/categoria/domesticos">Ver tudo de Eletrodomésticos</a>
                                <a href="#">Geladeira</a>
                                <a href="#">Fogão</a>
                                <a href="#">Micro-ondas</a>
                                <a href="#">Coifas e Depuradores</a>
                                <a href="#">Máquina de lavar</a>
                                <a href="#">Cooktop</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Tvs e Vídeos</button>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#collapseThree">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="/categoria/tvs-e-videos">Ver tudo de Tvs e Vídeo</a>
                                <a href="#">Tvs</a>
                                <a href="#">Blu-Ray Player</a>
                                <a href="#">Home Theater</a>
                                <a href="#">Soudbar</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Informática</button>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#collapseThree">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="/categoria/informatica">Ver tudo de Informática</a>
                                <a href="#">Notebook</a>
                                <a href="#">Impressora</a>
                                <a href="#">Computador</a>
                                <a href="#">Tablet e Ipad</a>
                                <a href="#">Acessórios</a>
                                <a href="#">Informáica</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Pneus</button>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#collapseFour">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="/categoria/pneus">Ver tudo de Pneus</a>
                                <a href="#">Caminhões e Ônibus</a>
                                <a href="#">Carros</a>
                                <a href="#">Motos</a>
                                <a href="#">Tratores</a>
                                <a href="#">Vans e Utilitários</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Eletroportáveis</button>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#collapseFive">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="/categoria/eletroportaveis">Ver tudo de Eletroportáveis</a>
                                <a href="#">Bebedouro e Purificador de Água</a>
                                <a href="#">Robô e Aspirador de Pó</a>
                                <a href="#">Fritadeira Elétrica</a>
                                <a href="#">Máquina de Costura</a>
                                <a href="#">Cafeteira Elétrica</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Esporte e Lazer</button>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#collapseTwo">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="/categoria/esporte-e-lazer">Ver tudo de Esporte e Lazer</a>
                                <a href="#">Bicicleta</a>
                                <a href="#">Bicicleta aro 26</a>
                                <a href="#">Bicicleta aro 29</a>
                                <a href="#">Fitness</a>
                                <a href="#">lazer e Jogos</a>
                                <a href="#">Esportes</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Cama, Mesa e Banho</button>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#collapseSeven">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="/categoria/camamesa-e-banho">Ver tudo de Cama, Mesa e Banho</a>
                                <a href="#">Cama</a>
                                <a href="#">Mesa</a>
                                <a href="#">Banho</a>
                                <a href="#">Souplat</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEigth">Áudio</button>
                        <div id="collapseEigth" class="accordion-collapse collapse" aria-labelledby="headingEigth"
                            data-bs-parent="#collapseEigth">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Ver tudo de Áudio</a>
                                <a href="#">Som Ambiente</a>
                                <a href="#">Áudio Profissional</a>
                                <a href="#">Caixa de Som</a>
                                <a href="#">MP3, MP4 e MP5 Players</a>
                                <a href="#">Vitrolas e Gramofones</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Ar Condicionado e Ventilação</button>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                            data-bs-parent="#collapseNine">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="/categoria/ar-condicionado-e-ventilacao">Ver tudo de Ventilação</a>
                                <a href="#">Acessórios de climatização</a>
                                <a href="#">Aquecedores ambientes</a>
                                <a href="#">Ar-condicionado</a>
                                <a href="#">Climatizador</a>
                                <a href="#">Cortina de ar</a>
                                <a href="#">Ventilador</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">Veja mais departamentos</button>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                            data-bs-parent="#collapseTen">
                            <div class="accordion-body d-flex flex-column categorias-dropdown">
                                <a href="#">Bebês</a>
                                <a href="#">Briquedos</a>
                                <a href="#">Casa, Construção e Ferramentas</a>
                                <a href="#">Mundo Gamer</a>
                                <a href="#">Relógios</a>
                                <a href="#">Moda e Acessórios</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Menu Mobile-->