<!DOCTYPE html>
<html lang="pt-br">
<%- include('../src/frontend/components/head.html'); %>
<body>
    <%- include('../src/frontend/components/header.html'); %>
    <div class="container-xl d-flex align-items-center justify-content-center">
        <img src="./css/assets/img/erro-404.png" alt="">
        <div class="help-404">
            <span>oops, não encontramos resultados</span>
            <p>Dicas: </p>
            <p><img src="./css/assets/icons/icon-sucesso-help-404.png" alt=""> Tente utilizar uma única palavra.</p>
            <p><img src="./css/assets/icons/icon-sucesso-help-404.png" alt=""> Utilize termos genéricos na busca.</p>
            <p><img src="./css/assets/icons/icon-sucesso-help-404.png" alt=""> Procure utilizar sinônimos ao termo desejado.</p>
            <p><img src="./css/assets/icons/icon-sucesso-help-404.png" alt=""> Verifique os termos digitados.</p>
        </div>
    </div>
    <%- include('../src/frontend/components/footer.html'); %>
</body>
</html>