<!DOCTYPE html>
<html lang="pt-br">
<%- include('../src/frontend/components/head.html'); %>

    <body>
        <%- include('../src/frontend/components/header.html'); %>
            <main class="main">
                <section class="section-novidades container-xl ">
                    <h2 class="titulos-sessoes"> <%- postagem.length %> resultados sobre o item pesquisado</h2>
                    <%- include('../src/frontend/components/cards-produtos.html'); %>
                </section>
            </main>
    </body>
    <%- include('../src/frontend/components/footer.html'); %>
</html>