<!DOCTYPE html>
<html lang="pt-br">
<%- include('../src/frontend/components/head.html'); %>
<body>
    <%- include('../src/frontend/components/header.html'); %>
    <main>
        <div class="container-xl single-produto d-flex align-items-center flex-wrap">
            <div class="img-produto-single">
                <img class="img-fluid" src="<%- resposta.url_imagem %>" alt="Imagem do liquidificador">
            </div>
            <div class="comprar-produto">
                <h2 class="titulo-produto"><%= resposta.titulo_produto %></h2>
                <span>Marca: <a href="#"><%= resposta.marca %></a></span>
                <div class="comprar d-flex">
                    <div class="preco">
                        <p class="preco-comprar"><%= resposta.preco_produto %></p>
                        <p>em <strong>1x </strong>no cartão ou boleto</p>
                        <p><span><%= resposta.max_qtd_parcelas %>x </span>de <span>R$ 64,45 </span>sem juros</p>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg">comprar</button>
                </div>
            </div>
        </div>
        <div class="container-xl descricao-completa-produto">
            <h3>Descrição do produto</h3>
            <p><%- resposta.descricao_produto %></p>
        </div>
    </main>
    <%- include('../src/frontend/components/footer.html'); %>
</body>
</html>