.single-img-produto-single{
    max-width: 40%;
}
.comprar-produto{
    max-width: 50%;
}
.single-titulo-produto{
    font-size: 1.2rem
}
.single-preco p{
    margin: 0!important;
    font-size: 0.8rem;
}
.single-preco .single-preco-comprar{
    color: #1F5BC6;
    font-weight: bold;
    font-size: 1.5rem;
}
@media (max-width: 1025px) {
    .single-produto{
        justify-content:center;
        flex-wrap: wrap;
    }
    .single-img-produto-single{
        min-width: 50%;
        max-width: 100%
    }
    .comprar-produto{
        max-width: 100%;
        width: 100%
    }
    .single-card-comprar{
        width: 100%;
    }
}